@import '../../styles/base.scss';

.menuItem {
  border: $highlight solid 4px;
  border-top: 0;
  border-left: 0;
  display: inline;
  margin-right: 15px;
  background: $white;
  padding: 3px 5px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;

  &:hover {
    box-shadow: $lowlight 5px 5px 0;
  }
}
