$black: #000;
$light-gray: #eee;
$dark-gray: #333;
$white: #fff;

$yellow: #F2CB05;

$highlight: $yellow;
$lowlight: #F28705;
$background: $light-gray;
$color-1: #eee;
$color-2: #ed3f4d;
$color-3: #59aaf5;
