@import '../../styles/base';

.wrapper {
  position: relative;
  transition: width 0.5s;
  width: 55%;
  &:hover {
    width: 80%;
  }

  @include media('<=tablet') {
    width: 70%;

    &:hover {
      width: 95%;
    }
  }
}

.children {
  font-family: 'Muli', sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 5px;
  z-index: 1;
  margin-left: 30px;
  color: $black;
}

.backgroundBlock {
  background: $highlight;
  opacity: 0.7;
  bottom: 17px;
  height: 20px;
  left: 20px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.backgroundBlockWhite {
  background: $white;
  bottom: 5px;
  margin-left: 10px;
  height: 50px;
  left: 20px;
  position: absolute;
  width: 300px;
  z-index: -2;
}
