@import 'styles/base';

body {
  font-family: 'Cutive Mono';
  font-size: 18px;
  background: $background;
}

h1,
h2,
h3,
h4 {
  font-family: 'Muli', monospace;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:visited {
    color: inherit;
  }
}

.page {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include media('<=tablet') {
    width: 100%;
  }
}

.menuWrapper {
  margin-top: 16px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
